.CartTable {
  border: 3px solid black;
  max-width: 800px;
  margin: 35px auto;
}

.buyAlert {
  box-sizing: border-box;
  width: 35em;
  max-width: 80%;
  background: #fee000;
  border: 5px solid #000000;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  padding: 2em;
  font-family: arial;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}
